/* UTILITIES */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background: #232323;
}

body::-webkit-scrollbar {
  width: 5px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: #232323;
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #3569ad;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  /* border: 3px solid orange; */
  /* creates padding around scroll thumb */
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.8;
  margin: 10px 0;
}

input,
textarea {
  padding: 1rem;
  border: none;
  outline: none;
}

.btn {
  display: block;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 100px;
  background: #ffb43c;
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 70px;
  color: #fff;
  background: #111;
  margin-top: 40px;
  text-align: center;
}

.swiper-container {
  width: 100vw;
  max-width: 100%;
  height: 500px;
  position: relative;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  display: grid;
  grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(22px, 81.66667px)) minmax(20px, 1fr);
  color: #fff;
  align-items: center;
}

.swiper-slide > * {
  grid-column: 2/14;
}

.swiper-slide h2 {
  font-size: 60px;
}

.swiper-slide p {
  color: #e7e7e7;
  max-width: 50%;
}

.swiper-pagination {
  display: flex;
  position: static;
}

.swiper-pagination span {
  all: unset;
  border: 1px solid #fff;
  width: 60px;
  height: 60px;
  display: block;
  background: #3569ad;
  display: grid;
  place-items: center;
  color: #fff;
  font-size: 20px;
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: #193d6d;
}

.swiper-button-prev,
.swiper-button-next {
  all: unset;
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0px;
  width: 60px;
  height: 60px;
  background: #ffb43c;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev img,
.swiper-button-next img {
  width: 20px;
}

.swiper-button-prev {
  right: 60px;
}

.numbers {
  color: #fff;
  position: absolute;
  bottom: 0;
  left: 10px;
  z-index: 1;
}

.accordion-container {
  margin: 70px 0;
  display: grid;
  grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(22px, 64px)) minmax(20px, 1fr);
}

.accordion-container > * {
  grid-column: 2/14;
}

.isotope .wrapper {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(22px, 64px)) minmax(20px, 1fr);
  margin: 30px 0;
}

.isotope .wrapper > * {
  grid-column: 2/14;
}

.isotope .button {
  border: none;
  padding: 10px 30px;
  background: transparent;
  border-radius: 100px;
  border: 2px solid #3569ad;
  color: #3569ad;
  transition: 0.4s ease;
  cursor: pointer;
}

.isotope .button:hover, .isotope .button:focus {
  background: #3569ad;
  color: #fff;
}

.isotope .grid {
  color: #fff;
  margin-top: 30px;
}

.isotope .grid .element-item {
  background: #eaeaea;
  color: #232323;
  padding: 40px;
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 150px;
}

.aos {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(22px, 85.33333px)) minmax(20px, 1fr);
}

.aos > * {
  grid-column: 2/14;
}

.aos .title {
  grid-column: 1/-1;
}

.aos .wrapper {
  margin-top: 60px;
}

.aos .wrapper .card {
  margin-bottom: 50px;
  background: #fff;
  color: #232323;
  padding: 30px;
  max-width: 360px;
  margin-right: auto;
}

.aos .wrapper .card:nth-child(2n) {
  margin-left: auto;
  margin-right: 0;
}

.tippy .wrapper {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(22px, 64px)) minmax(20px, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #232323;
  background: #fff;
}

.tippy .wrapper > * {
  grid-column: 2/14;
}

.tippy .wrapper p {
  color: #ccc;
}

.tippy .wrapper p span {
  color: #3569ad;
  cursor: default;
}

.container {
  display: grid;
  grid-template-columns: minmax(20px, 1fr) repeat(12, minmax(22px, 120px)) minmax(20px, 1fr);
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container > * {
  grid-column: 2/14;
}

.container .left {
  grid-column: 1/10;
  background: #3569ad;
  color: #fff;
  padding: 50px 10%;
}

.container .left p {
  color: #e7e7e7;
  margin: 10px 0 30px;
  max-width: 70%;
}

.container .right {
  grid-column: 10/-1;
  background: #fff;
  padding: 50px 10%;
}
/*# sourceMappingURL=styles.css.map */