.container2 {
  @include separator;
  height: 100%;

  .wrapper {
    @include container(1280px);
    height: 100%;
    align-items: center;

    .bg_left {
      height: 100%;
      width: 100%;
      background: $blue;
      grid-row: 1;
      grid-column: full-start/full-end;
      @include ipad {
        border-radius: 0 0 300px 0;
        grid-column: full-start / col-end 8;
      }
    }

    .left {
      grid-column: container-start/container-end;
      padding: 70px 0;
      @include ipad {
        grid-column: container-start / col-end 8;
        padding: 70px 45px;
      }
      grid-row: 1;
      h2 {
        font-size: 45px;
        color: $white;
      }
      p {
        margin: 25px 0;
        color: $text;
      }
    }

    .bg_right {
      grid-column: full-start/full-end;
      height: 100%;
      grid-row: 2;
      background: $white;
      position: relative;
      z-index: -1;
      @include ipad {
        grid-row: 1;
      }
    }

    .right {
      padding: 70px 0;
      grid-column: container-start/ container-end;
      grid-row: 2;

      @include ipad {
        grid-row: 1;
        grid-column: col-start 10 / container-end;
      }
    }
  }
}
