.container {
  @include container;
  @include separator;

  .left {
    grid-column: full-start/ col-end 10;
    background: $blue;
    color: $white;
    padding: 50px 10%;
    grid-row: 1;

    p {
      color: $text;
      margin: 10px 0 30px;
      max-width: 70%;
    }
  }

  .right {
    grid-column: col-start 11 / full-end;
    background: $white;
    padding: 50px 10%;
    grid-row: 1;
  }
}
